/* for SM */
@media(max-width:768px){
.our_clients_formd{
    width: 425px;
    height: 292.54px;
    background: #5804fa;
    position: relative;
    margin-top: 330px;
    margin-left: -150px;
    text-align: center;
}
.our_clients_formd h4{
    font-size: 22px;
}
.our_clients_formd h2{
    font-size: 35px;
}
.line_2{
    width: 100%;
}

.last_line{
    z-index: 1;
    width: 100%;
    position: relative;
    margin-bottom: -57px;
    transform: rotate(7deg);
}


.header{
    height: 90vh;
}
.header h1{
    font-size: 50px;
}
.header button{
    margin-top: 20px;
}
.under_header_SM{
    margin-top: -47px;
    width: 100%;
}
.firstin_sec1_SM h2{
    text-align: center;
    margin: 0 !important;
    padding: 40px 0 !important;
}
.firstin_sec1_SM h1{
    text-align: center;
    margin: 0 !important;
    padding-left: 0 !important;
}
.sec_under_herder{
    height: 2500px;
}
/* asdsadsad */
.img_under_header{
    display: block;
}
.img_under_header img{
    margin-top: 70px;
    margin-left: 40px;
}
.img_under_header div{
    box-shadow: none;
} 
.img_under_header button{
    margin-top: -130px;
    margin-left: 40px;
    z-index: 99;
    width: 350px;
    height: 60px;
}
.img_under_header div:hover img{ 
    transform: scale(1);
    -webkit-filter: brightness(0.5);
    filter: brightness(0.7);
}
.img_under_header span{
    width: 350px;
    margin-top: -75px;
    margin-left: 40px;
    z-index: 1500;
}
/* asdsadsa */
.book_btn{
    margin: 120px;
}
.state_of_the_art{
    top: -470px;
    left: 0;
    text-align: center;
}
.state_of_the_art div{
    width: 80%;
    height: 1px;
    margin-left: calc(10%);
    background-color: aliceblue;
}
.all_main{
    display: block;
    position: relative;
    top: 90px; 
    left: calc(25%); 
    text-align: center;
}
.all_main div h3{
    margin-top: -20px;
}
.all_main div p{
    margin-top: -10px;
    margin-bottom: 50px;
}
.last-img{
    display: none;
}
.sec2_fir_img{
    width: calc(340px / 1.2) ;
    height: calc(330px / 1.2) ;
    margin-top: 200px;
    margin-left: 0;
}
.sec2_sec_img{
    width: calc(355px / 1.2) ;
    height: calc(340px /1.2);
    position: absolute;
    margin-top: 350px;
    margin-left: -232px;
}
.sec2_under_herder{
    width: 100%;
    height: 1600px;
}
.bg-img{
    width: 100%;
    height: 70%;
    margin-top: 100px;
    background-repeat: no-repeat;
    background-position: center center;
    background-image: url(/img/sqwad.jpg);
    background-attachment: fixed;
}
.one_3_1{
    text-align: center;
}
.one_3_1 .line_3{
    width: 70%;
    height: 2px;
    background-color: #ffde01;
    margin-top: 10px;
    margin-left: 55px;
}
.sec3{     
    height: 2530px;
}
.carts_3{
    display: block;
    margin-top: 60px;
}
.cart{
    width: 286px;
    margin-left: 73px;
    margin-top: 50px;
}
.cart .ppol{
    width: 286px;
}
.cart img{
    width: 286px;
}
.pic-over{
    overflow: hidden;
}
.btn_last1{
    margin-top: 18px;
    margin-left: 55px;
    z-index: 999;
}
.sec4{
    max-width: 100%;
    position: relative;
}
.sec4 div{
    max-width: 100%;
    position: relative;
    padding-top: 90px;
    margin-left: 0;
    text-align: center;

}
.sec4 div h4{
    font-size: 20px;
}
.sec4 div h2{
    font-size: 50px;
}
.sec4 div button{
    margin-top: 20px;
}
.cta-2{
    /* width: calc(100% /1.3);
    margin-top: 155px;
    position: absolute;
    right: 10px;
    margin-left: 10px; */
    display: none;
}
/* ########################################################### */
.cta-1{
    display: none;
    /* width: calc(100% /1.3);
    margin-top: 340px;
    position: absolute;
    right: 10px;
    margin-left: 10px; */
}
}
    /* for MD */


























    @media (min-width: 768px) and (max-width: 922px){
.header{
    height: 80vh;
}
.header h4{
    padding-top: 350px;
}
.header h1{
    padding-top: 50px;
}
.under_header{
    margin-top: -34px;
}
.img_under_header{
    display: block;
    float: left;
}
.img_under_header div{
    margin-left: 15px;
    margin-top: 20px;
}
.state_of_the_art{
    position: relative;
    top: 100px;
    left: 80px;
}
.sec2_under_herder{
    height: 1500px;
}
.all_main{
    width: 50%;
    left: 80px; 
    top: 100px; 
}
.all_main img{
    width: 100px;
    height: 100px;
    padding: 20px;
    margin-left: 100px;
}
.all_main h3{
    padding-top: 10px;
}
.bg-img{
    width: 100%;
    height: 70%;
    margin-top: 200px;
    background-position: top center;
}
.bg-img h4{
    padding-top: 150px;
}
.bg-img h2{
    padding-top: 5px;
}    
.our_clients_formd{
    width: 700px;
    height: 292.54px;
    margin-top: -90px;
    margin-left: 50px;
}
.book_btn{
    margin: 120px 550px;
}
.carts_3{
    display: block;
}
.cart{
    float: left;
    margin-left: 80px;
    padding-top: 20px;
}
.cart_2{
    margin-top: 0px;
}
.cart_4{
    margin-top: 0px;
}
.sec2_sec_img{
    margin-top: 150px;
    margin-left: 0px;
}
.btn_last1{
    margin-top: 120px;
    margin-left: 260px;
}
.sec4_last_line{
    margin-top: 63px;
    z-index: 3;
}
.cta-2{
    width: calc(100% / 2);
    margin-top: 120px;
    margin-left: -150px;
    z-index: 2;
}
.cta-1{
    width: calc(100% / 2);
    margin-top: 350px;
    margin-left: 100px;
    z-index: 2;
}
.firstin_sec1{
    position: relative;
    top: -100px;
}
.img_under_header{
    margin-top: -100px;
}
}




@media (min-width: 922px){
    /* for LG */
}